@charset "utf-8";
/* CSS Document */

body {
  font-family: "Georgia", serif;
  color:black;
  line-height:140%
  margin:30px;
  background-color:#F7F3DE;
}

header {
  font-size:350%;
  color: #7C1A00;
  padding: 40px;
  left-padding:120px;
}

#container {
 margin-bottom:30px; 
}

nav {
  float:left;
 width:150px; 
}

nav ul {
  padding:0px;
  margin:0px;
  life-style-type:none;
  color:#7C1A00;
}

nav li {
  margin:10px;
  border width:1px;
  border-style:solid;
  border-color:#7C1A00;
  background-color:#FFE597;
}
  
