@charset "utf-8";
/* CSS Document */

body {
  font-family: "Georgia", serif;
  color:black;
  line-height:140%
  margin:30px;
  background-color:#F7FF3DE;
}

header {
  font-size:350%;
  color: #7C1A00;
  padding: 40px;
  left-padding:120px;
}

#container {
 margin-bottom:30px; 
}
